html, body, div, ul, p {
  margin: 0;
  padding: 0;
  display: block; }

.navbar-right .btn-menu a, #main-menu li.last a, #block-views-get-involved-block .link a {
  border: 1px solid;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #5BC0C3;
  display: inline-block; }

#block-views-next-event-block .btn {
  border: 1px solid #48b9bc;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #5BC0C3;
  display: inline-block; }

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 100;
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  src: url("../fonts/MuseoSans/MuseoSans-300.ttf") format("truetype"), url("../fonts/MuseoSans/MuseoSans-300.eot") format("embedded-opentype"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  src: url("../fonts/MuseoSans/MuseoSans-500.ttf") format("truetype"), url("../fonts/MuseoSans/MuseoSans-500.eot") format("embedded-opentype"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  src: url("../fonts/MuseoSans/MuseoSans-700.ttf") format("truetype"), url("../fonts/MuseoSans/MuseoSans-700.eot") format("embedded-opentype"); }

/* base */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #ffffff;
  color: #565659; }

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (max-width: 639px) {
    .container {
      width: 90% !important;
      padding: 0 5%;
      max-width: 750px; } }
  @media (min-width: 640px) {
    .container {
      max-width: 900px;
      width: 650px !important;
      padding: 0; } }
  @media (min-width: 960px) {
    .container {
      max-width: 1200px;
      width: 960px !important;
      padding: 0 12px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1300px;
      width: 90% !important; } }
  .container ::before, .container ::after {
    content: "";
    display: table; }
  .container ::after {
    clear: both; }
  .container > :last-child {
    margin-bottom: 0; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  margin-left: -20px;
  padding: 0;
  list-style: none; }
  .row > * {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px; }
    @media (min-width: 640px) {
      .row > * {
        padding-left: 12px;
        padding-right: 12px; } }
  .row > * > :last-child {
    margin-bottom: 0; }
  .row + .row {
    margin-top: 30px; }

.container.row {
  margin-left: auto !important;
  margin-right: auto !important; }

[class*='col'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 100%; }

.col-auto {
  width: auto; }

.col-expand {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px; }

@media (max-width: 639px) {
  .col-1-2-s {
    width: 50%; }
  .col-1-3-s {
    width: -webkit-calc(100% * 1 / 3.001);
    width: calc(100% * 1 / 3.001); }
  .col-2-3-s {
    width: -webkit-calc(100% * 2 / 3.001);
    width: calc(100% * 2 / 3.001); }
  .col-1-4-s {
    width: 25%; }
  .col-2-4-s {
    width: 50%; }
  .col-3-4-s {
    width: 75%; }
  .col-1-5-s {
    width: 20%; }
  .col-2-5-s {
    width: 40%; }
  .col-3-5-s {
    width: 60%; }
  .col-4-5-s {
    width: 80%; }
  .col-1-6-s {
    width: -webkit-calc(100% * 1 / 6.001);
    width: calc(100% * 1 / 6.001); }
  .col-5-6-s {
    width: -webkit-calc(100% * 5 / 6.001);
    width: calc(100% * 5 / 6.001); } }

@media (min-width: 640px) {
  .col-1-2-m {
    width: 50%; }
  .col-1-3-m {
    width: -webkit-calc(100% * 1 / 3.001);
    width: calc(100% * 1 / 3.001); }
  .col-2-3-m {
    width: -webkit-calc(100% * 2 / 3.001);
    width: calc(100% * 2 / 3.001); }
  .col-1-4-m {
    width: 25%; }
  .col-2-4-m {
    width: 50%; }
  .col-3-4-m {
    width: 75%; }
  .col-1-5-m {
    width: 20%; }
  .col-2-5-m {
    width: 40%; }
  .col-3-5-m {
    width: 60%; }
  .col-4-5-m {
    width: 80%; }
  .col-1-6-m {
    width: -webkit-calc(100% * 1 / 6.001);
    width: calc(100% * 1 / 6.001); }
  .col-5-6-m {
    width: -webkit-calc(100% * 5 / 6.001);
    width: calc(100% * 5 / 6.001); } }

@media (min-width: 960px) {
  .col-1-2-l {
    width: 50%; }
  .col-1-3-l {
    width: -webkit-calc(100% * 1 / 3.001);
    width: calc(100% * 1 / 3.001); }
  .col-2-3-l {
    width: -webkit-calc(100% * 2 / 3.001);
    width: calc(100% * 2 / 3.001); }
  .col-1-4-l {
    width: 25%; }
  .col-2-4-l {
    width: 50%; }
  .col-3-4-l {
    width: 75%; }
  .col-1-5-l {
    width: 20%; }
  .col-2-5-l {
    width: 40%; }
  .col-3-5-l {
    width: 60%; }
  .col-4-5-l {
    width: 80%; }
  .col-1-6-l {
    width: -webkit-calc(100% * 1 / 6.001);
    width: calc(100% * 1 / 6.001); }
  .col-5-6-l {
    width: -webkit-calc(100% * 5 / 6.001);
    width: calc(100% * 5 / 6.001); } }

@media (min-width: 1200px) {
  .col-1-2 {
    width: 50%; }
  .col-1-3 {
    width: -webkit-calc(100% * 1 / 3.001);
    width: calc(100% * 1 / 3.001); }
  .col-2-3 {
    width: -webkit-calc(100% * 2 / 3.001);
    width: calc(100% * 2 / 3.001); }
  .col-1-4 {
    width: 25%; }
  .col-2-4 {
    width: 50%; }
  .col-3-4 {
    width: 75%; }
  .col-1-5 {
    width: 20%; }
  .col-2-5 {
    width: 40%; }
  .col-3-5 {
    width: 60%; }
  .col-4-5 {
    width: 80%; }
  .col-1-6 {
    width: -webkit-calc(100% * 1 / 6.001);
    width: calc(100% * 1 / 6.001); }
  .col-5-6 {
    width: -webkit-calc(100% * 5 / 6.001);
    width: calc(100% * 5 / 6.001); } }

.navbar {
  padding: 20px 0; }

.logo img {
  float: left;
  width: 170px; }

.logo a {
  float: left;
  width: 100%; }

.navbar-right .desktop-menu {
  float: right;
  list-style: none; }
  @media (max-width: 639px) {
    .navbar-right .desktop-menu {
      display: none !important; } }
  @media (min-width: 640px) {
    .navbar-right .desktop-menu {
      display: none !important; } }
  @media (min-width: 960px) {
    .navbar-right .desktop-menu {
      display: -webkit-inline-box !important;
      display: -webkit-inline-flex !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important; } }

.navbar-right .mobile-menu {
  float: left;
  display: none;
  list-style: none; }

.navbar-right .btn-menu {
  display: none;
  float: right; }
  @media (max-width: 639px) {
    .navbar-right .btn-menu {
      display: block !important; } }
  @media (min-width: 640px) {
    .navbar-right .btn-menu {
      display: block !important; } }
  @media (min-width: 960px) {
    .navbar-right .btn-menu {
      display: none !important; } }
  .navbar-right .btn-menu a {
    position: relative;
    float: left;
    padding: 6px 12px; }

#main-menu {
  font-family: "Museo Sans", sans-serif; }
  #main-menu li {
    position: relative;
    float: left; }
  #main-menu a {
    position: relative;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #565659;
    padding: 0 16px;
    font-size: 0.93rem;
    line-height: 2.5rem; }
  #main-menu li.last a {
    margin-left: 20px;
    padding-left: 25px;
    padding-right: 25px; }

.region img {
  width: auto;
  height: auto;
  max-width: 100%; }

.block-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 0 0 30px 0 !important;
  font-family: "Museo Sans"; }

.text-center {
  text-align: center; }

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.hero-container {
  overflow: hidden;
  height: auto;
  max-height: 500px;
  position: relative; }
  .hero-container img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    min-height: 400px; }

.hero {
  padding: 5% 0;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  width: 85%; }
  @media (min-width: 640px) {
    .hero {
      width: 100%; } }
  .hero .title-hero {
    font-family: "Museo Sans", sans-serif;
    font-weight: 100;
    margin: 0 0 20px;
    text-transform: uppercase; }
    @media (max-width: 639px) {
      .hero .title-hero {
        font-size: 30px !important;
        margin: 0 !important; } }
    @media (min-width: 640px) {
      .hero .title-hero {
        font-size: 2.8rem; } }
    @media (min-width: 960px) {
      .hero .title-hero {
        font-size: 3.4rem; } }
  .hero .text-hero {
    font-weight: 300;
    line-height: 1.5; }
    @media (max-width: 639px) {
      .hero .text-hero {
        display: none !important; } }
    @media (min-width: 640px) {
      .hero .text-hero {
        display: block !important;
        line-height: 1.2 !important; } }
    .hero .text-hero p {
      margin-bottom: 20px; }

#block-views-next-event-block {
  font-family: "Museo Sans", sans-serif;
  font-weight: 200;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #F1F2F5; }
  @media (max-width: 639px) {
    #block-views-next-event-block {
      text-align: center; } }
  #block-views-next-event-block span {
    display: inline-block;
    width: auto; }
  #block-views-next-event-block .event-title {
    color: #61C0BD;
    margin-right: 5px;
    font-weight: 500; }
  #block-views-next-event-block .event-date {
    font-weight: 500; }
  #block-views-next-event-block .btn {
    position: relative;
    float: right;
    font-weight: 100;
    font-size: 0.9rem;
    -webkit-border-radius: 0;
            border-radius: 0;
    padding: 10px 20px; }
    @media (max-width: 639px) {
      #block-views-next-event-block .btn {
        float: none !important;
        margin-top: 12px; } }

#block-views-get-involved-block {
  display: inline-grid;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%; }
  #block-views-get-involved-block .brand {
    height: 140px;
    display: inline-grid; }
    #block-views-get-involved-block .brand img {
      margin: 0 auto;
      max-width: 130px; }
  #block-views-get-involved-block .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: "Museo Sans", sans-serif; }
  #block-views-get-involved-block .description {
    font-weight: 300;
    font-size: 14px;
    min-height: 45px; }
  #block-views-get-involved-block .link {
    margin-top: 20px; }
    @media (max-width: 639px) {
      #block-views-get-involved-block .link {
        margin-top: 10px;
        margin-bottom: 30px; } }
    #block-views-get-involved-block .link a {
      padding: 10px 40px;
      font-size: 14px;
      font-weight: 300;
      -webkit-border-radius: 0;
              border-radius: 0; }

#block-views-our-mission-block {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #F1F2F5;
  font-weight: 300;
  font-size: 14px;
  color: #5A6176; }
  #block-views-our-mission-block p {
    margin-bottom: 16px; }
  #block-views-our-mission-block strong {
    font-size: 16px;
    font-weight: 400; }
  #block-views-our-mission-block .description {
    margin-bottom: 20px; }

.card {
  background: #fff;
  padding: 16px;
  margin-top: 70px;
  height: auto;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  @media (max-width: 639px) {
    .card {
      margin-bottom: 30px !important; } }
  .card .brand {
    margin-top: -70px; }
    .card .brand img {
      width: 90px;
      border: 10px solid #ffffff;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  .card .title {
    font-weight: 300;
    margin-top: 0;
    color: #53C0D6; }

#block-block-3 {
  float: left;
  width: 100%; }
  #block-block-3 hr {
    border: none;
    border-top: 1px solid #ddddde;
    margin: 16px 0 !important; }

#block-views-our-members-block {
  background: #F1F2F5;
  padding-top: 60px;
  padding-bottom: 30px; }
  #block-views-our-members-block .brand {
    padding-top: 20px;
    padding-bottom: 20px; }

#block-views-blog-block {
  padding-top: 30px;
  padding-bottom: 30px; }
  #block-views-blog-block hr {
    border: none;
    border-top: 1px solid rgba(221, 221, 222, 0.5);
    margin: 16px 0 !important; }

.blog {
  padding-bottom: 30px; }
  .blog .title {
    font-size: 15px;
    font-weight: 400; }
    .blog .title a {
      color: #5BC0C3;
      text-decoration: none; }
  .blog .body {
    font-size: 15px;
    font-weight: 300;
    color: #647588; }
  .blog .created {
    font-weight: 300;
    font-size: 14px;
    color: #5A6176; }

.region-footer {
  background: #454850;
  position: relative;
  float: left;
  width: 100%;
  padding: 30px 0;
  color: #fff;
  text-align: center; }
  .region-footer hr {
    border: none;
    border-top: 1px solid #575B64;
    margin: 16px 0 !important; }
  .region-footer .block {
    position: relative;
    float: left;
    width: 100%; }
  .region-footer p {
    color: #8596a9;
    font-weight: 300; }
  .region-footer a {
    color: #5BC0C3;
    text-decoration: none; }
